    <table class="table table-condensed" style="margin-bottom:5px">
        <tr>
            <td style="width:20%"><img src="static/images/logo.png" style="width:110px"/></td>
            <td style="width:60%;text-align:center">
                <div class="invoice-title text-center" style="margin:0 auto">
                    <h3 class="invoice-header text-center">{{receiptType}}</h3>
                    <h2 class="invoice-header text-center">  CAMERA EMPORIUM </h2>
                </div>
            </td>
            <td style="width:20%; vertical-align:bottom">
                <div style="text-align:center">
                    <strong>
                    Service Hours<br/>
                    Mon-Sat<br>
                    11AM-8PM
                    </strong>
                </div>
            </td>
        </tr>
    </table>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default invoice-header">
                <div class="panel-body text-center invoice-panel-padding">
                    <H4 class="invoice-header">SALES AND REPAIR FOR HANDYCAM AND DIGITAL CAMERA</H4>
                </div>
            </div>
        </div>
    </div>     
    <div class="row">
        <div class="col-xs-12 text-center">
            <address>
                <h5>
                Shop No. 8, Kedar Empire, Near Paud Phata, Opp SNDT College, Karve Road, Pune, Maharashtra 411038 <br>
                Mob:09921008559 / 8999587432, E-mail: cameraemporium@gmail.com, WebSite: www.naikcameras.com
                <h5>
            </address>
        </div>
    </div>     
