 <div class="form-group row">
        
        <div class="col-xs-2">
            <label for="paymentInfoPaymentType">Payment Mode</label>
            <select name="paymentInfoPaymentType" ng-model="paymentInfo.paymentType" class="form-control" id="paymentInfoPaymentType">
                <option ng-repeat="payType in paymentInfo.paymentTypes" value="{{payType.value}}">{{payType.name}}</option>
            </select>
        </div>
        
        <div class="col-xs-10">
                <div class="row" ng-show="paymentInfo.paymentType === 'cash' ">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <br/>
                            <label class="control-label col-sm-2" for="payment-cash-ammount">Cash Amount:</label>
                            <div class="col-sm-8">
                                <input autocomplete="off" ng-model="paymentInfo.cash.amount" type="text" class="form-control" id="payment-cash-ammount" 
                                placeholder="Cash Ammount">
                            </div>
                        </div>
                    </div>
                </div>
                    
                <div class="row" ng-show="paymentInfo.paymentType === 'cheq' ">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="cheque-amount">Amount:</label>
                            <div class="col-sm-8">
                                <input autocomplete="off" ng-model="paymentInfo.cheq.amount" type="text" class="form-control" 
                                id="cheque-amount" placeholder="Enter amount"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="cheque-bank">Bank:</label>
                            <div class="col-sm-8">
                                <input  autocomplete="off" ng-model="paymentInfo.cheq.bankName" type="text" class="form-control" 
                                id="cheque-bank" placeholder="Enter bank name"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="paymentInfo.paymentType === 'cheq' ">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="cheque-chequeNo">Cheque No:</label>
                            <div class="col-sm-8">
                                <input autocomplete="off" ng-model="paymentInfo.cheq.cheqNo" type="text" 
                                class="form-control" id="cheque-chequeNo" placeholder="Enter Cheque Number"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="cheque-chequeDate">Cheque Date:</label>
                            <div class="col-sm-8">
                                <input autocomplete="off" ng-model="paymentInfo.cheq.cheqDate" type="text" 
                                class="form-control" id="cheque-chequeDate" placeholder="Enter Cheque Date"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="paymentInfo.paymentType === 'card' ">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="card-amount">Amount:</label>
                            <div class="col-sm-8">
                                <input autocomplete="off" ng-model="paymentInfo.card.amount" type="text" class="form-control" 
                                id="card-amount" placeholder="Enter amount"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="card-cardNumber">Card Number:</label>
                            <div class="col-sm-8">
                                <input autocomplete="off" ng-model="paymentInfo.card.cardNumber" type="text" 
                                class="form-control" id="card-cardNumber" placeholder="E.g. 1234-4564-7891-1234"/>
                            </div>
                        </div>
                    </div>
                </div>                    
                <div class="row" ng-show="paymentInfo.paymentType === 'card' ">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="card-cardNetwork">Card Network:</label>
                            <div class="col-sm-8">
                                <input autocomplete="off" ng-model="paymentInfo.card.cardNetwork" type="text" class="form-control" 
                                id="card-cardNetwork" placeholder="E.g VISA, MasterCard .."/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="paymentInfo.paymentType === 'online' ">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="online-amount">Amount:</label>
                            <div class="col-sm-8">
                                <input autocomplete="off" ng-model="paymentInfo.online.amount" type="text" class="form-control" 
                                id="online-amount" placeholder="Enter amount"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="online-payMode">Payment Mode:</label>
                            <div class="col-sm-8">
                                <input autocomplete="off" ng-model="paymentInfo.online.payMode" type="text" 
                                class="form-control" id="online-payMode" placeholder="E.g. PayTM, NEFT, UPI etc..."/>
                            </div>
                        </div>
                    </div>
                </div>                    
                <div class="row" ng-show="paymentInfo.paymentType === 'online' ">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="online-transactionId">Transaction ID:</label>
                            <div class="col-sm-8">
                                <input autocomplete="off" ng-model="paymentInfo.online.transactionId" type="text" class="form-control" 
                                id="online-transactionId" placeholder="Enter Transaction Id"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="online-remark">Remark:</label>
                            <div class="col-sm-8">
                                <input autocomplete="off" ng-model="paymentInfo.online.remark" type="text" 
                                class="form-control" id="online-remark" placeholder="some extra information"/>
                            </div>
                        </div>
                    </div>
                </div>                    
                
        </div>    
    </div>  
